@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

li {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

li:hover {
  opacity: 1;
}

.hero-image {
  background-image: url("https://res.cloudinary.com/db9kd4qbi/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1689579492/maac/hero_image_chpe36.jpg?_s=public-apps");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ignite-image {
  background-image: url("/asset/ignite.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageContainer1 {
  background-image: url("/courses/pp3av.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imageContainer2 {
  background-image: url("/courses/pp3ax.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
